*{
 font-family: monospace;
}

h1 {
  font-family: monospace;
}

h2 {
  font-family: monospace;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}