:root {
  --primary-color: #776871;
  --secondary-color: #f8d098;
}

* {
  color: #8498B6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #776871;

}


.title {
  font-family: "Shadows Into Light", cursive;
  background-color: #776871;
  padding: 20px 35px;
  text-align: center;
}

body {
    background-color: #776871;
}

.card {
    background-color: #91A8A4;
}

h2 {
  font-family: "Amatic SC", cursive;
  background-color: #91A8A4;
}
h3 {
  font-family: "Amatic SC", cursive;
  /* background-color: #91A8A4; */
}
.card-text {
  font-family: monospace;
  background-color: #91A8A4;
}
.section-title {
  text-align: center;
  background-color: #776871;
}

.connection {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
  margin: 10px;
}
 a img {
    background-color: #91A8A4;
 }

